/**
 * Color Rules
 * - Text:           #676766
 * - Mute:           #b2b2b2
 * - Current:        #f99d1c
 * - Blue Header:    #345d92
 *
 * - Link:           #345d92
 * - Link - Nav:     #676766
 * - Link - Action:  #f99d1c
 *
 * - Line - Dark:    #f78813
 * - Line - Light:   #f99d1c
 **/


/** General */

body {
    color: #676766;
    font-size: 16px;
    font-family: "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
                 
}
header {
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

h2 span {
    font-size: 18px;
    text-shadow: none;
}

p, li {
    line-height: 1.7em;
}

p {
    margin: 0px 0px 15px;
}

hr {
    border: 0;
    background-image: url('../img/symbol/divider.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1px;
    clear: both;
    margin: 40px 0px;
}

hr.short {
    background-image: url('../img/symbol/divider-short.png');
    margin: 20px 0px;
}

ul {
    margin-left: 12px;
    list-style:none;
}

ul li {
  background-image: url('../img/symbol/bullet.png');
  background-repeat: no-repeat;
  background-position: 0px 9px;
  margin-left: 0px;
  padding-left: 16px;
}

a,
a:hover {
    color: #345d92;
}

.action,
.active,
a.active,
a.active:hover,
a.action,
a.action:hover,
.active a,
.active a:hover,
.action a,
.action a:hover {
    color: #f99d1c;
}

form input[type=text],
form textarea {
    min-width: 50px;
    padding: 10px;
    border: solid 1px #eee;
    border-top: solid 2px #ddd;
}

table.no-border,
table.table.no-border,
table.no-border td,
table.no-border th,
table.table.no-border td ,
table.table.no-border th {
    border-width: 0;
}

table td.price {
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table tr.line-item th:first-child,
table tr.line-item td:first-child {
    padding-left: 20px;
    font-style: italic;
}


.muted {
    color: #b2b2b2;
}

.content {
    margin-top: 50px;
}

.group {
    position: relative;
}

.layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.line {
    position: relative;
    height: 4px;
    background-color: #f78813;
}

.line-light {
    position: relative;
    height: 4px;
    background-color: #f99d1c;
}

.line .line-light,
.line-light .line {
    position: absolute;
    width: 50%;
    margin: 0px auto;
    left: 0px;
    right: 0px;
}

.dotted {
    background-image: url('../img/symbol/dots.png');
    background-repeat: repeat-x;
    background-position: left top;
    padding-top: 9px;
}

.dotted-bottom {
    background-image: url('../img/symbol/dots.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 9px;
}

.inset-shadow {
    -webkit-box-shadow: inset 0 0 10px #000;
       -moz-box-shadow: inset 0 0 10px #000;
            box-shadow: inset 0 0 10px #000;
}

.inset-shadow-bottom {
    top: inherit;
    bottom: 0px;
    height: 10px;
    -webkit-box-shadow: inset 0 -10px 10px -10px #222;
       -moz-box-shadow: inset 0 -10px 10px -10px #222;
            box-shadow: inset 0 -10px 10px -10px #222;
}

.inset-shadow-top {
    height: 10px;
    -webkit-box-shadow: inset 0 10px 10px -10px #222;
       -moz-box-shadow: inset 0 10px 10px -10px #222;
            box-shadow: inset 0 10px 10px -10px #222;
}

.donate {
    display: block;
    background-image: url('../img/symbol/gift.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 10px 10px 10px 42px;
    text-align: left;
    width: 182px;
}

.donate:hover {
    background-position: 5px center;
}

.donate h1,
.donate h2 {
    margin: 0px;
    line-height: 1.2em;
    white-space: nowrap;
}

.donate h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.donate h2 {
    font-size: 1em;
    font-weight: normal;
}

.about-why {
    color: #fff;
    padding: 10px 10px 10px 40px;
    background-image: url('../img/symbol/horn.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.about-mission {
    color: #fff;
    padding: 10px 10px 10px 40px;
    background-image: url('../img/symbol/eye.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.about-letter {
    color: #fff;
    padding: 10px 10px 10px 40px;
    background-image: url('../img/symbol/fire.png');
    background-size: 10%;
    background-position: left center;
    background-repeat: no-repeat;
}


/** General - Sizes */
.width-480 {
    display: none;
}


/** General - Overrides */

.rtl {
    text-align: right;
    direction: rtl;
}

nav,
article h1,
article figcaption h2,
.hero-unit h2,
.hero-unit h3,
.hero-actions h2,
.profile h3,
.boxed,
.lighten {
    font-weight: normal;
    font-family: "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
}

.boxed h1,
.boxed h2,
.boxed h3,
.info,
.info:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2f548c;
    *background-color: #2f548c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4781b5), to(#2f548c));
    background-image: -webkit-linear-gradient(top, #4781b5, #2f548c);
    background-image: -o-linear-gradient(top, #4781b5, #2f548c);
    background-image: linear-gradient(to bottom, #4781b5, #2f548c);
    background-image: -moz-linear-gradient(top, #4781b5, #2f548c);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff4781b5', endColorstr='#ff2f548c', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


/** General - Navigation */

nav {
    font-size: 1.3em;
}

nav li {
    padding-left: 18px;
    line-height: 1.4em;
}

nav li a,
nav li span {
    color: #676766;
    padding-right: 18px;
    margin-right: -18px;
}

nav li.active a,
nav li a:hover,
nav li span {
    color: #f99d1c;
    background-image: url('../img/plus/orange.png');
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
}

nav li a.rss,
nav li a.rss:hover {
    padding-left: 24px;
    display: inline-block;
    min-height: 16px;
    background-image: url('../img/rss/16.png');
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
}

/** General - Figures */

figure.pull-left {
    margin-left: 0px;
}

figure.pull-right {
    margin-right: 0px;
}

figcaption h1 {
    margin: 0px;
    font-size: 1em;
    line-height: 1.7em;
    color: #345d92;
    text-shadow: 0px 0px 1px #333;
    letter-spacing: 1px;
}

figcaption h2 {
    margin: 0px;
    font-size: 0.9em;
    line-height: 1.5em;
}


/** Page - Header */

header.hero-unit {
    color: #fff;
    height: auto;
    margin: 0px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

header.hero-unit a:hover {
    color: #fff;
    text-decoration: none;
}

header.hero-unit h1,
header.hero-unit h2,
header.hero-unit h3 {
    margin: 0px;
    max-width: 800px;
}

header.hero-unit h2,
header.hero-unit h3 {
    text-shadow: 0px 0px 8px #333;
}

header.hero-unit h1 {
    margin-bottom: 25px;
}

header.hero-unit h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

header.hero-unit h3 {
    font-size: 1.6em;
}

header.hero-unit ul {
    margin: 20px 0px 0px;
}

header.hero-unit li {
    padding: 0px;
    margin-right: 18px;
    margin-top: 10px;
    background-position: left top;
}

header.hero-unit li:first-child {
    margin-left: 0px;
}

header.hero-unit li a {
    display: block;
    background-position: 10px center;
    padding: 15px 25px 15px 50px;
    font-size: 1.1em;
}

header.hero-unit hr {
    background: none;
    border-top: solid 1px #213a6e;
    border-bottom: solid 1px #6078aa;
    max-width: 600px;
    margin: 25px 0px 30px 15px;
}

header.page .container {
    padding: 30px 0px 15px;
}

header.page h1 {
    margin: 0px;
}

header.page h1.logo,
header.page h1 a {
    color: inherit;
    display: inline-block;
    *display: inline;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0px;
    padding: 4px 80px 16px 00;
    white-space: nowrap;
}

header.page h1 a,
header.page h1 a:hover {
    text-decoration: none;
}

header.page nav {
    padding-top: 25px;
    text-align: right;
    direction: rtl;
}

header.page nav .active a,
header.page nav a:hover {
    background-image: url('../img/plus/orange.png');
    background-repeat: no-repeat;
    background-position: right center;
}

header.page nav a {
    background-image: url('../img/plus/gray.png');
    background-repeat: no-repeat;
    background-position: right center;
}

header.page nav li {
    float: right;
    margin-right: 18px;
    padding-bottom: 10px;
}

header.page nav li.last {
    margin-left: 0px;
}


/** Page - Footer */

footer.page {
    margin-top: -20px;
    text-align: center;
    color: #b2b2b2;
    margin-bottom: 20px;
}

footer.page ol {
    font-size: 14px;
    font-weight: normal;
}

footer.page li {
    display: inline-block;
    *display: inline;
    padding-left: 25px;
    background-image: url('../img/plus/orange.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin: 0px 0px 0px 7px;
}

footer.page li:first-child {
    background: none;
    padding-left: 0px;
    margin-left: 0px;
}


/** Article - Figure */

article figure {
    margin-left: 40px;
    margin-bottom: 50px;
}

article figure.clean {
    margin: 0px;
    padding: 0px;
}

article figcaption h1 {
    font-size: 1em;
}

article figcaption h2 {
    font-size: 0.8em;
}

article figure.signature {
    margin-top: 20px;
}

article figure.signature figcaption h1 {
    margin-top: 10px;
    color: inherit;
}


/** Article - Header */

article header {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    position: relative;
    background-image: url('../img/header/gradient.png');
    background-repeat: repeat-x;
    background-position: center;
    height: 148px;
}

article header.hero-unit {
    background-position: top left;
}

article header h1 {
    color: #fff;
    margin: 54px 0px 0px;
    text-shadow: 0px 0px 8px #333;
    font-weight: bold;
    font-size: 2.5em;
}

article header .container {
    position: relative;
    z-index: 1;
    padding: 0px;
}

article header .plus {
    background-image: url('../img/plus/gray-large.png');
    background-repeat: repeat;
    background-position: top left;
}

article header .background {
    background-image: url('../img/header/background.png');
    background-repeat: no-repeat;
    background-position: center;
}

article header.hero-unit .background {
    background-position: top left;
}

.globe {
    background-image: url('../img/header/globe.png');
    background-repeat: no-repeat;
    background-position: right -230px;
    min-height: 929px;
    position: absolute;
    left: 0px;
    right: 5%;
    z-index: 1;
}

.line, .dotted, .content {
    position: relative;
    z-index: 2;
}


/** Article - Section */

article h1 {
    font-size: 1.8em;
}

article section h2,
article section h3 {
    color: #345d92;
    margin-top: 25px;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: normal;
    text-shadow: 0px 0px 1px #999;
}


/** Article - Navigation */

article aside nav {
    margin-left: 15%;
    text-align: right;
    direction: rtl;
}

article aside .donate {
    margin-left: 15%;
    text-align: right;
    direction: rtl;
}

article aside nav li {
    margin: 30px 0px;
}

article aside nav li:first-child {
    margin-top: 20px;
}


/** Document - Home */

.hero-actions {
    margin-top: 15px;
    text-align: right;
    direction: rtl;
}

.hero-actions h2 {
    font-size: 1.7em;
    color: inherit;
    line-height: 1.2em;
}

.go-support {
    background-image: url('../img/symbol/support.png');
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 80px;
}

.go-board {
    background-image: url('../img/symbol/board.png');
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 80px;
}

.go-donate {
    background-image: url('../img/symbol/donate.png');
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 80px;
}


/** Document - Mission */

section.standardize,
section.protect,
section.promote {
    background-repeat: no-repeat;
    background-position: right 10px;
    padding-right: 70px;
}

section.standardize {
    background-image: url('../img/symbol/cycle.png');
}

section.protect {
    background-image: url('../img/symbol/lock.png');
}

section.promote {
    background-image: url('../img/symbol/fire.png');
}


/** Document - Board */

section.profile {
    clear: both;
    position: relative;
    padding-left: 210px;
}

section.profile figure {
    margin-bottom: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

section.profile h2,
section.profile h3 {
    margin: 0px;
    line-height: 1.4em;
}

section.profile h2 {
    font-size: 1.5em;
}

section.profile h3 {
    margin-bottom: 10px;
    color: inherit;
    font-size: 1.1em;
}

section.profile aside {
    margin-top: 7px;
}

section.profile aside a {
    display: inline-block;
    *display: inline;
    text-indent: -9999px;
}

section.profile aside a.linkedin {
    background-image: url('../img/social/linkedin.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 24px;
    margin-left: 8px;
}

section.profile aside a.twitter {
    background-image: url('../img/social/twitter.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
    width: 29px;
    height: 25px;
}


/** Document - Contact */

form.contact {
    max-width: 500px;
    *width: 500px;
    margin: 70px auto 30px;
}

form.contact input[type=text],
form.contact textarea {
    display: block;
    width: 95%;
    background-color: #fafafa;
    -webkit-box-shadow:inset 0 50px 50px -50px #ddd;
       -moz-box-shadow:inset 0 50px 50px -50px #ddd;
            box-shadow:inset 0 50px 50px -50px #ddd;
}

form.contact textarea {
    height: 200px;
}


/** Document - Members */

section.members ul,
section.members ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

section.members ul li {
    background: none;
    display: inline-block;
    margin: 0px 50px 18px 0px;
}

section.members ul li a {
    display: block;
}

section.members ul.platinum li {
    width: 360px;
}

section.members ul.gold li {
    width: 220px;
}

section.members ul.silver li {
    width: 125px;
    min-height: 80px;
}


/** Boxed Callout */

.boxed {
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: solid 1px #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 7px #aaa;
       -moz-box-shadow: 0 0 7px #aaa;
            box-shadow: 0 0 7px #aaa;
}

.boxed h1,
.boxed h2,
.boxed h3 {
    margin: -20px -20px 20px;
    padding: 5px;
    font-size: 1.1em;

    -moz-border-radius-topright: 4px;
     -moz-border-radius-topleft: 4px;
        border-top-right-radius: 4px;
         border-top-left-radius: 4px;
}

.boxed p {
    font-weight: normal;
    font-size: 17px;
    margin: 10px auto;
    line-height: 1.4em;
}

.boxed table.table th,
.boxed table.table td {
    padding-left: 0px;
    padding-right: 0px;
}

.boxed p.description {
    text-align: left;
}

.boxed small {
    display: block;
    font-weight: normal;
    font-size: 12px;
}

.boxed hr {
    margin: 22px 0px;
}

.boxed form {
    margin-bottom: 0px;
}

.boxed input {
    margin: 10px 0px;
}

.boxed input[type=text] {
    width: 80%;
}

.boxed .btn {
    margin-top: 10px;
}

.boxed .example {
    font-size: 0.7em;
    margin-bottom: 10px;
}

.boxed-members {
  padding-top: 40px;
  padding-bottom: 40px;
}

.boxed-members .hr {
  display: block;
  margin: 20px auto;
  font-size: 0.75em;
  text-transform: uppercase;
}

.boxed-members .btn.btn-members {
  margin: 0px auto;
}

.btn-members {
  padding: 12px;
  display: block;
  width: 75%;
  margin: 0px auto;
}


/** Mobile */

@media (max-width: 1170px) {
    .globe {
        background-position: 620px top;
        right: 0px;
    }
}

@media (max-width: 979px) {
    body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }

    header.page h1,
    header.page h1.logo {
        font-size: 30px;
        margin: 10px 0px 0px;
    }

    header.page nav {
        padding-top: 22px;
    }

    header.page nav li {
        margin-right: 12px;
    }

    header.page nav ol {
        float:none;
        margin: 0px 0px 0px 15px;
        display: inline-block;
        *display: inline;
    }

    header.page .container {
        padding: 26px 10px;
    }

    article aside nav,
    article aside .donate {
        margin-left: 10%;
    }

    article aside .donate {
        width: 160px;
        font-size: 0.9em;
    }

    img {
        max-width: 140px;
    }

    section.profile figure {
        margin-bottom: 80px;
        margin-right: 15px;
    }

    section.profile aside {
        margin-top: 1px;
        margin-right: 0px;
    }

    section.members img {
        max-width: 100%;
    }

    .boxed {
        padding: 20px 10px;
    }

    .boxed h1,
    .boxed h2,
    .boxed h3 {
        margin: -20px -10px 10px;
    }

    .boxed p {
        width: auto;
        font-size: 1.1em;
    }
}

@media (max-width: 767px) {
    header.page .span6 {
        text-align: center;
    }

    header.page nav {
        padding-top: 15px;
        margin-bottom: 20px;
    }

    header.page .container {
        padding: 0px 10px;
    }

    article h1 {
        font-size: 1.4em;
        line-height: 1.6em;
    }

    article header .background {
        background-color: #1e4174;
        background-position: -600px center;
    }

    article header.document h1 {
        padding: 0px 40px;
        margin-top: 40px;
        font-size: 26px;
        line-height: 1.3em;
    }

    article header.hero-unit {
        text-align: center;
        padding: 30px 40px 20px;
    }

    article header.hero-unit h1 {
        font-size: 3em;
        line-height: 1em;
        margin: 0px -20px 15px -20px;
        padding: 0px;
    }

    article header.hero-unit h2 {
        font-size: 2.5em;
        line-height: 1.2em;
        padding: 0px 30px;
    }

    article header.hero-unit h3 {
        font-size: 1.4em;
        line-height: 1.6em;
    }

    article header.hero-unit li {
        display: block;
        margin: 15px auto 0px auto;
        width: 252px;
    }

    article header.hero-unit li:first-child {
        margin: 0px auto;
    }

    article header.hero-unit li a {
        font-size: 1em;
        text-align: left;
        padding-right: 10px;
    }

    article header.hero-unit hr {
        margin: 15px 0px 20px;
        max-width: initial;
    }

    article header.hero-unit .background {
        background-position: -600px top;
    }

    article aside {
        margin-left: -20px;
        margin-right: -20px;
    }

    article aside nav {
        margin-left: 0px;
    }

    article aside .donate {
        margin: 40px auto 0px;
    }

    section.profile figure {
        margin-bottom: 20px;
    }

    .hero-actions {
        padding: 0px 40px;
    }

    .content {
        padding: 0px 20px;
        margin-top: 30px;
    }

    img {
        max-width: 100px;
    }

    form input[type="submit"] {
        display: block;
        margin: 0px auto;
    }

    .globe {
        background-position: 300px top;
        right: 0px;
    }
}

@media (max-width: 350px) {
    header.page h1,
    header.page h1.logo {
        font-size: 24px;
    }

    header.page h1 a,
    header.page h1.logo {
        background-image: url('../img/logo-50.png');
        padding-left: 60px;
    }

    header.page nav {
        font-size: 1em;
    }

    header.page nav li {
        margin-right: 8px;
    }

    article header.document h1 {
        padding-left: 20px;
    }

    article h1 {
        font-size: 1.2em;
    }

    article header.hero-unit h1 {
        font-size: 2em;
        letter-spacing: 1px;
    }

    article header.hero-unit h2 {
        font-size: 1.6em;
    }

    article header.hero-unit h3 {
        font-size: 1em;
    }

    .btn-large {
        padding: 6px 12px;
    }

    .globe {
        background-position: 200px top;
        right: 0px;
    }

    section.members ul li {
        margin-right: 0px;
    }

    section.members ul.platinum li {
        width: 280px;
        min-height: 210px;
    }

    section.members ul.gold li {
        width: 200px;
        min-height: 150px;
    }

    section.members ul.silver li {
        width: 150px;
        min-height: 112px;
    }
}
